.x_panel
  .x_title
    %h1 Editing Featuredpackage
  .clearfix
  .x_content
    = render 'form', featuredpackage: @featuredpackage
    = link_to 'Show', @featuredpackage
    |
    = link_to 'Back', featuredpackages_path
